@import '../../shared/styles/variables'; //unfixable for now

.overall-page {
  height: $page-height;
  position: relative;
  background: rgba(194, 35, 35, 0.5);
  background: linear-gradient(
      90deg,
      rgba(194, 35, 35, 0.1) 0%,
      rgba(219, 125, 37, 0.1) 50%,
      rgba(255, 230, 0, 0.093) 100%
  );
}

form {
  width: 350px;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 50px;
  -webkit-box-shadow: 2px 6px 44px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 6px 44px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 6px 44px 0 rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.color-grad {
  width: 100%;
  height: 50px;
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-bottom: 5px;
}

.back-button {
  font-size: 10vw;
  opacity: 0.3;
  position: absolute;
  top: 37%;
  left: 15%;
  width: auto;
  height: auto;
}

.back-button-text {
  font-size: 3vw;
  font-family: Mulish, sans-serif;
}

@media screen and (max-width: 1400px) {
  .back-button-text {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .back-button-text {
    display: block;
  }
  .back-button {
    left: 0;
    top: 0;
  }
}

mat-form-field,
.two-buttons {
  width: 120%;
}

a {
  font-size: 13px;
  text-decoration: none;
  border: none;
  color: $main-text-color;
}

.forgot-password {
  width: auto;
  height: auto;
  margin-left: -115px;
  margin-bottom: 20px;
}

.login-button,
.log-register-button {
  font-size: 15px;
  width: 100px;
  height: 40px;
}

.log-register-button {
  width: 138px;
}

.reg-register-button {
  width: 86%;
}

.two-buttons .log-register-button {
  background: $secondary-gradient;
  color: #f1f1f1;
}

.login-text {
  font-size: 15px;
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
