<div class="reg-page">
  <form>
    <span class="color-grad">Вхід</span>
    <div class="inputs-container">
      <mat-form-field color="accent">
        <mat-label>Електронна пошта</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Пароль</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </div>
    <div class="forgot-password">
      <a href="https://www.dota2.com/home" >
        <span>Забули пароль?</span>
      </a>
    </div>
    <div class="two-buttons">
      <button mat-stroked-button class="register-button" type="submit">
        Реєстрація
      </button>
      <button mat-raised-button class="login-button" type="submit">
      <span class="login-text">
        Увійти
      </span>
      </button>
    </div>
  </form>
</div>

