@import '../../shared/styles/variables'; //unfixable for now

.overall-page {
  height: $page-height;
}

form {
  width: 350px;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 50px;
  -webkit-box-shadow: 2px 6px 44px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 6px 44px 0 rgba(0,0,0,0.25);
  box-shadow: 2px 6px 44px 0 rgba(0,0,0,0.25);
  padding: 25px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.color-grad {
  width: 100%;
  height: 50px;
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-bottom: 5px;
}

mat-form-field, .two-buttons {
  width: 120%;
}

a {
  font-size: 13px;
  text-decoration: none;
  border: none;
  color: $main-text-color;
}

.forgot-password {
  width: auto;
  height: auto;
  margin-left: -115px;
  margin-bottom: 20px;
}

.login-button, .log-register-button {
  font-size: 15px;
  width: 100px;
  height: 40px;
}

.log-register-button {
  width: 138px;
}

.reg-register-button {
  width: 86%;
}

.two-buttons .log-register-button {
  background: $secondary-gradient;
  color: #f1f1f1;
}

.login-text {
  font-size: 15px;
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


