@import '../../../styles/variables';

.reg-page {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oufit, sans-serif;
}

form {
  width: 350px;
  max-height: 300px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: orange 2px solid;
  box-shadow: rgba(0,0,0,0.2) 0 4px 4px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.two-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.color-grad-thick, .color-grad {
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0,0,0,0.3) 0 4px 4px ;
}

.color-grad-thick {
  letter-spacing: 2px;
  margin-top: 12px;
  font-size: 40px;
}

.color-grad {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 40px;
}

a {
  margin-left: -60%;
  font-size: 13px;
  text-decoration: none !important;
  border: none !important;
  color: $main-text-color;
}

.forgot-password {
  width: auto;
  height: auto;
  margin-top: -10px;
}

.login-text {
  background: rgb(206, 77, 36);
  background: $secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

mat-form-field {
  width: 120%;
}

.inputs-container {
  align-items: center;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
