<div class="overall-page" fxLayout="column" fxLayoutAlign="none center">
  <div class="text-main" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">1</div>
      <span>Записуйте трати та прибутки, переглядайте історію</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">2</div>
      <span>Користуйтесь готовими, та додайте власні категорії витрат</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">3</div>
      <span>Переглядайте аналітику за окремий період часу по декільком показникам</span>
    </div>
    <button mat-button class="button-login" routerLink="/registration">
      <span class="text-login"> Зареєстуватись зараз</span>
    </button>
  </div>
</div>
