<div class="overall-page" fxLayout="column" fxLayoutAlign="none center">
  <span class="title-text">
    CashChecker
  </span>
  <div class="text-main" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">
        1
      </div>
      <img ngSrc="assets/images/tracking.png" alt="tracking">
      <span>Записуйте трати та прибутки, переглядайте історію</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">
        2
      </div>
      <img ngSrc="assets/images/customizing.png" alt="customizing">
      <span>Користуйтесь готовими, та додайте власні категорії витрат</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">
        3
      </div>
      <img ngSrc="assets/images/analytics.png" alt="analytics">
      <span>Переглядайте аналітику за окремий період часу по декільком показникам</span>
    </div>
  </div>
  <div class="log-register-button">

  </div>
</div>
