<div class="overall-page" fxLayout="column" fxLayoutAlign="none center">
  <div class="text-main" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">1</div>
      <span>{{ 'MAIN.text_main_child_1' | translate }}</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">2</div>
      <span>{{ 'MAIN.text_main_child_2' | translate }}</span>
    </div>
    <div class="text-main-child" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="30px">
      <div class="text-main-child-step" fxLayoutAlign="center center">3</div>
      <span>{{ 'MAIN.text_main_child_3' | translate }}</span>
    </div>
    <ng-container *ngIf="isAuthentificated | async; else notAuthenticated">
      <button mat-button class="button-login" routerLink="/user/profile">
        <span class="text-login">{{ 'MAIN.button_login_authenticated' | translate }}</span>
      </button>
    </ng-container>
    <ng-template #notAuthenticated>
      <button mat-button class="button-login" routerLink="/registration">
        <span class="text-login">{{ 'MAIN.button_login_not_authenticated' | translate }}</span>
      </button>
    </ng-template>
  </div>
</div>
