<mat-toolbar fxLayout="row" role="heading">
  <span class="title" fxLayoutAlign="center center">
    CashChecker
  </span>

  @if (loggined) {
    @if (!isSmallScreen) {
      <div class="two-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
        <button mat-button
                [ngClass]="{'button-profile-current': currentPage==='profile', 'button-profile-not-current': currentPage!='profile'}">
          <span class="buttons-text">{{ 'NAV.PROFILE' | translate }}</span>
        </button>
        <button mat-button
                [ngClass]="{'button-profile-current': currentPage==='payments', 'button-profile-not-current': currentPage!='payments'}">
          <span class="buttons-text">{{ 'NAV.PAYMENTS' | translate }}</span>
        </button>
      </div>
    }
  }

  <span class="spacer" fxFlex></span>

  @if (!isSmallScreen) {
    <button mat-raised-button class="button-language" [matMenuTriggerFor]="menu">
      <span fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
        <object data="assets/icons/lang_icon.svg" type="image/svg+xml"></object>
        <span class="text-language">{{ 'NAV.LOCALE.' + language.toUpperCase() | translate }}</span>
        <object data="assets/icons/arrowdown_icon.svg" type="image/svg+xml"></object>
      </span>
    </button>
    @if (mainMenu) {
      <button mat-button class="button-login">
        <span class="text-login">{{ 'NAV.LOGIN' | translate }}</span>
      </button>
    }
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu" fxFlexAlign="end center">
      <mat-icon>menu</mat-icon>
    </button>
  }
</mat-toolbar>
<mat-menu #menu="matMenu">
  @for (language of Object.values(Languages); track language) {
    <button mat-menu-item (click)="useLanguage(language)">
      <span>{{ 'NAV.LOCALE.' + language.toUpperCase() | translate }}</span>
    </button>
  }
</mat-menu>

<mat-menu #mobileMenu="matMenu">
  <button mat-menu-item>{{ 'NAV.PROFILE' | translate }}</button>
  <button mat-menu-item>{{ 'NAV.PAYMENTS' | translate }}</button>
  <button mat-menu-item>{{ 'NAV.LOGIN' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="menu">{{ 'NAV.LOCALE.' + language.toUpperCase() | translate }}</button>
</mat-menu>
