<footer fxLayout="row" fxLayoutAlign="space-between center">
  <div class="github-button">
    <a mat-fab class="footer-button" target="_blank" href="https://github.com/doliinyk/cash-manager-frontend">
      <i class="fa-brands fa-github fa-xl"></i>
    </a>
  </div>
  <div class="support-info-container" fxLayout="row" fxLayoutGap="10px">
    <div class="info-button">
      <button mat-fab class="footer-button" (click)="openAboutUsDialog()">
        <i class="fa-solid fa-circle-info fa-xl"></i>
      </button>
    </div>
  </div>
</footer>
