footer {
  height: 100px;
  width: 100vw;
  background: #f1f1f1;
  box-sizing: border-box;
  border: 2px solid #e6e6e6;
  padding: 0 15% 0 15%;
}

.footer-button {
  background: white;
  color: black;
}

a { text-decoration: none; }
