<h2 mat-dialog-title>{{ 'INFO.ABOUT_US' | translate }}</h2>
<mat-dialog-content>
  <p class="developed-by">{{ 'INFO.DEVELOPED_BY' | translate }}</p>
  <ul>
    <li>Lead: {{ 'INFO.LEAD' | translate }}</li>
    <li>Front-end lead: {{ 'INFO.FRONT_1' | translate }}</li>
    <li>Front-end: {{ 'INFO.FRONT_2' | translate }}</li>
    <li>Back-end: {{ 'INFO.BACK' | translate }}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'INFO.CLOSE' | translate }}</button>
</mat-dialog-actions>
