<mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <div class="new-category-container" fxLayout="column" fxLayoutGap="20px">
    <span class="new-text">{{ 'CATEGORY_DIALOG.NEW_CATEGORY' | translate }}</span>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <div class="new-category-inputs" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-icon-button (click)="colorPicker.click()" [style.color]="pickedColor">
          <mat-icon>palette</mat-icon>
        </button>
        <input type="color" class="color-picker-invisible" (input)="onColorChanged($event)" #colorPicker required />
        <mat-form-field appearance="outline" color="warn">
          <mat-label>{{ 'CATEGORY_DIALOG.NAME_LABEL' | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="{{ 'CATEGORY_DIALOG.NAME_PLACEHOLDER' | translate }}"
            [formControl]="newNameFormControl"
            #newCategoryInput />
        </mat-form-field>
      </div>
      <mat-radio-group color="warn" [(ngModel)]="pickedType" fxLayout="column">
        <mat-radio-button value="{{ Categories.expenses }}" checked
          >{{ 'CATEGORY_DIALOG.EXPENSE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="{{ Categories.incomes }}">{{ 'CATEGORY_DIALOG.INCOME' | translate }}</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="newNameFormControl.invalid && (newNameFormControl.dirty || newNameFormControl.touched)">
        <div *ngIf="newNameFormControl.hasError('required')">
          {{ 'CATEGORY_DIALOG.NAME_REQUIRED_ERROR' | translate }}
        </div>
        <div *ngIf="newNameFormControl.hasError('maxlength')">
          {{ 'CATEGORY_DIALOG.NAME_MAXLENGTH_ERROR' | translate }}
        </div>
      </div>
      <button
        mat-raised-button
        class="add-button"
        type="submit"
        color="warn"
        [disabled]="!newNameFormControl.valid"
        (click)="onAppendCategory()">
        {{ 'CATEGORY_DIALOG.ADD_BUTTON' | translate }}
      </button>
    </div>
  </div>
  <div>
    <mat-selection-list role="list" #categoriesList [multiple]="false">
      <span>{{ 'CATEGORY_DIALOG.CATEGORIES_EXPENSES' | translate }}</span>
      <div *ngFor="let category of categoriesService.expenseCategories$ | async">
        <mat-list-option [value]="category">
          <div matListItemIcon class="category-color" [style.background-color]="category.colorCode"></div>
          <span matListItemTitle>{{ category.title }}</span>
        </mat-list-option>
      </div>
      <mat-divider></mat-divider>
      <span>{{ 'CATEGORY_DIALOG.CATEGORIES_INCOME' | translate }}</span>
        <mat-list-option *ngFor="let category of categoriesService.incomeCategories$ | async" [value]="category">
          <div matListItemIcon class="category-color" [style.background-color]="category.colorCode"></div>
          <span matListItemTitle>{{ category.title }}</span>
        </mat-list-option>
    </mat-selection-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button [disabled]="!categoriesList.selectedOptions.hasValue()" (click)="onDeleteCategory(categoriesList.selectedOptions.selected[0])">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-raised-button color="warn" matDialogClose>{{ 'CATEGORY_DIALOG.CLOSE_BUTTON' | translate }}</button>
</mat-dialog-actions>
