<mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <div class="new-category-container">
    <span>Нова</span>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <div class="new-category-inputs" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <button mat-icon-button (click)="colorPicker.click()" [style.color]="pickedColor">
          <mat-icon>palette</mat-icon>
        </button>
        <input type="color" class="color-picker-invisible" (input)="onColorChanged($event)" #colorPicker required />
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Назва</mat-label>
          <input matInput type="text" placeholder="Категорія" [formControl]="newNameFormControl" #newCategoryInput />
        </mat-form-field>
      </div>
      @if (newNameFormControl.invalid && (newNameFormControl.dirty || newNameFormControl.touched)) {
        <div *ngIf="newNameFormControl.hasError('required')">Поле назви є обов'язковим</div>
        <div *ngIf="newNameFormControl.hasError('maxlength')">Максимум символів: 20</div>
      }
      <button
        mat-raised-button
        class="add-button"
        type="submit"
        color="warn"
        [disabled]="!newNameFormControl.valid"
        (click)="onAppendCategory()">
        Додати
      </button>
    </div>
  </div>
  <div>
    <span>Категорії</span>
    <mat-selection-list role="list">
      @for (category of this.categoriesService.expenseCategories$ | async; track category) {
        <mat-list-option>
          <div matListItemIcon class="category-color" [style.background-color]="category.colorCode"></div>
          <span matListItemTitle> {{ category.title }}</span>
        </mat-list-option>
      }
    </mat-selection-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button [disabled]="categoryPicked === 0">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-raised-button color="warn" matDialogClose>Ok</button>
</mat-dialog-actions>
