<div class="overall-page" fxLayoutAlign="center center">
  <form [formGroup]="forgotGroup" fxLayout="column" fxLayoutAlign="none center">
    <span class="color-grad" fxLayout="fxLayout" fxLayoutAlign="center center">
      {{ 'FORGOT-PASSWORD.TITLE' | translate }}
    </span>
    <div class="inputs-container" fxLayout="column" fxLayoutAlign="none center">
      <mat-form-field color="warn" appearance="outline">
        <mat-label>{{ 'FORGOT-PASSWORD.EMAIL_PH' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="warn" [disabled]="!this.forgotGroup.valid" (click)="sendData()">
      {{ 'REGISTER.REGISTER_BUTTON' | translate }}
    </button>
    @if (this.responseMessage === 'SUCCESS') {
      <div class="status-text">{{ 'FORGOT-PASSWORD.EMAIL_OK' | translate }}</div>
    }
    @if (this.responseMessage === 'ERROR_USER') {
      <div class="status-text">{{ 'FORGOT-PASSWORD.EMAIL_FAILED' | translate }}</div>
    }
    @if (this.responseMessage === 'ERROR') {
      <div class="status-text">{{ 'FORGOT-PASSWORD.EMAIL_ERROR' | translate }}</div>
    }
  </form>
</div>
