$main-text-color: #493C3C;
$main-gradient: linear-gradient(90deg, rgba(194,35,35,1) 0%, rgba(219,125,37,1) 50%, rgba(255,230,0,0.93) 100%);
$secondary-gradient: linear-gradient(90deg, rgba(206, 77, 36, 1) 0%, rgba(0, 0, 0, 0.51) 100%);
