<div class="overall-page" fxLayoutAlign="center center">
  <form fxLayout="column" fxLayoutAlign="none center" [formGroup]="registerForm">
    <button mat-icon-button class="back-button" fxLayoutAlign="center center" routerLink="/login">
      <i class="fa-solid fa-chevron-left"></i>
      <span class="back-button-text">До входу</span>
    </button>
    <span class="color-grad" fxLayout="fxLayout" fxLayoutAlign="center center">{{ 'REGISTER.TITLE' | translate }}</span>
    <div class="inputs-container" fxLayout="column" fxLayoutAlign="none center">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'REGISTER.NAME_PH' | translate }}</mat-label>
        <input matInput formControlName="login" type="text" />
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'REGISTER.EMAIL_PH' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'REGISTER.PASSWORD_PH' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      class="reg-register-button"
      [disabled]="registerForm.invalid"
      type="submit"
      (click)="submitForm()">
      <span class="login-text">
        {{ 'REGISTER.REGISTER_BUTTON' | translate }}
      </span>
    </button>
  </form>
</div>
