@import '../../shared/styles/variables';

.overall-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: end;
  height: $page-height;
  padding: 30px;
  box-sizing: border-box;
}

.profile-containter {
  height: 93%;
  width: 30%;
  border-radius: 5px;
  background: #f1f1f1;
  border: 2px solid #e6e6e6;
  position: relative;
  padding-top: 30px;
}

.edit-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
}

.save-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: green;
}

.decline-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.analytics-container {
  height: 100%;
  width: 60%;
  border-radius: 5px;
}

.period-buttons-container {
  height: 7%;
}

.stats-container {
  height: 93%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.mat-button-toggle-group {
  width: auto;
}

.avatar {
  height: 200px;
  width: 200px;
  border: 3px solid lightgray;
  border-radius: 50%;
  overflow: hidden;
  color: darkorange;
  font-size: 5rem;
}

.avatar-container {
  position: relative;
}

.profile-field {
  width: 60%;
  height: 50px;
  min-width: 200px;
}

.avatar-button {
  color: darkorange;
  background: white;
  position: absolute;
  top: 70%;
  left: 70%;
  box-shadow: rgba(0, 0, 0, 10%) 0 4px 4px;
}

.file-picker-invisible {
  display: none;
}

.profile-info-table {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  color: gray;
}

.piechart-row {
  width: 100%;
  height: 50%;
}

@media (max-width: 1230px) {
  .analytics-container {
    width: 90%;
  }
  .stats-container {
    height: auto;
    width: 100%;
  }
  .overall-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .profile-containter {
    width: 90%;
    height: auto;
  }
}
.piechart-row-piechart {
  height: 100%;
  width: 40%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.piechar-row-categories {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 40px;
}

@media (max-width: 1370px) {
  .piechar-row-categories {
    display: none;
  }
}

.category-item {
  flex: 30%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
}

.category-item-name {
  font-size: 16px;
  height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f1f1f1;
}

.category-item-color {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: 10px;
}

.bar-chart {
  width: 100%;
  height: 50%;
}
