@import '../../shared/styles/variables';

.overall-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: end;
  height: $page-height;
  padding: 30px;
  box-sizing: border-box;
}

.profile-containter {
  height: 93%;
  width: 30%;
  border-radius: 5px;
  background: #f1f1f1;
  border: 2px solid #e6e6e6;
  position: relative;
  padding-top: 30px;
}

.edit-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
}

.save-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: green;
}

.decline-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.analytics-container {
  height: 100%;
  width: 60%;
  border-radius: 5px;
}

.period-buttons-container {
  height: 7%;
}

.stats-container {
  height: 93%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.mat-button-toggle-group {
  width: auto;
}

.avatar {
  height: 200px;
  width: 200px;
  border: 3px solid lightgray;
  border-radius: 50%;
  overflow: hidden;
  color: darkorange;
  font-size: 5rem;
}

.avatar-container {
  position: relative;
}

.profile-field {
  width: 60%;
  height: 50px;
}

.avatar-button {
  color: darkorange;
  background: white;
  position: absolute;
  top: 70%;
  left: 70%;
  box-shadow: rgba(0, 0, 0, 10%) 0 4px 4px;
}

.file-picker-invisible {
  display: none;
}

.profile-info-table {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  color: gray;
}

.piechart-row,
.gistogram-row {
  width: 100%;
  height: 50%;
}

.piechart-row-piechart {
  height: 100%;
  width: 50%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.pieChart-vallet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}

.piechar-row-categories {
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
}

.category-item {
  flex: 50%;
  margin: 10px 0;
}

.category-item:hover {
  cursor: pointer;
}

.category-item-name {
  font-size: 20px;
}

.category-item-color {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.gistogram-row {
}
