<footer>
  <div class="github-button">
    <button mat-fab class="footer-button">
      <mat-icon svgIcon="githubIcon"></mat-icon>
    </button>
  </div>
  <div class="support-info-container">
    <div class="info-button">
      <button mat-fab class="footer-button">
        <mat-icon svgIcon="infoIcon"></mat-icon>
      </button>
    </div>
    <div class="support-button">
      <button mat-fab class="footer-button">
        <mat-icon svgIcon="infoIcon"></mat-icon>
      </button>
    </div>
  </div>
</footer>
