<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <span class="dialog-header">{{ 'PASSWORD_DIALOG.PASSWORD_TITLE' | translate }}</span>
  <mat-form-field color="warn" appearance="outline">
    <mat-label>{{ 'PASSWORD_DIALOG.OLD_PASSWORD_LABEL' | translate }}</mat-label>
    <input
      matInput
      type="password"
      placeholder="{{ 'PASSWORD_DIALOG.PASSWORD_PH' | translate }}"
      [(ngModel)]="userPasswordCurrent" />
  </mat-form-field>
  <mat-form-field color="warn" appearance="outline">
    <mat-label>{{ 'PASSWORD_DIALOG.NEW_PASSWORD_LABEL' | translate }}</mat-label>
    <input
      matInput
      type="password"
      placeholder="{{ 'PASSWORD_DIALOG.PASSWORD_PH' | translate }}"
      [(ngModel)]="userPasswordNew" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'PASSWORD_DIALOG.DECLINE' | translate }}</button>
  <button
    mat-button
    [disabled]="isInvalid()"
    [mat-dialog-close]="true"
    mat-raised-button
    color="warn"
    (click)="onChangePassword()">
    {{ 'PASSWORD_DIALOG.SEND' | translate }}
  </button>
</mat-dialog-actions>
