<mat-toolbar>
  <span class="title-text">CashChecker</span>
  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="lang-button">
  <span class="icon-lang" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
    <object data="assets/icons/lang_icon.svg" type="image/svg+xml"></object>
    <span class="langText"> WIP </span>
    <object data="assets/icons/arrowdown_icon.svg" type="image/svg+xml"></object>
  </span>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Test</span>
  </button>
  <button mat-menu-item>
    <span>Test</span>
  </button>
  <button mat-menu-item>
    <span>Test</span>
  </button>
</mat-menu>



