<div class="overall-page" fxLayoutAlign="center center">
  <form fxLayout="column" fxLayoutAlign="none center" [formGroup]="loginForm">
    <span class="color-grad" fxLayout="fxLayout" fxLayoutAlign="center center"> {{ 'LOGIN.TITLE' | translate }} </span>
    <div class="inputs-container" fxLayout="column" fxLayoutAlign="none center">
      <mat-form-field color="warn" appearance="outline">
        <mat-label>{{ 'LOGIN.EMAIL_PH' | translate }}</mat-label>
        <input matInput type="email" formControlName="login" />
      </mat-form-field>
      <mat-form-field color="warn" appearance="outline">
        <mat-label>{{ 'LOGIN.PASSWORD_PH' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="forgot-password">
      <a href="#" routerLink="/forgot-password">{{ 'LOGIN.FORGOT' | translate }}</a>
    </div>
    <div class="two-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
      <button mat-raised-button class="log-register-button" routerLink="/registration">
        <span class="register-text">
          {{ 'LOGIN.REGISTER_BUTTON' | translate }}
        </span>
      </button>
      <button mat-raised-button class="login-button" (click)="login()">
        <span class="login-text">
          {{ 'LOGIN.LOGIN_BUTTON' | translate }}
        </span>
      </button>
    </div>
  </form>
</div>
