@import '../../shared/styles/variables';

.overall-page {
  height: $page-height;
  background: #fff;
  padding: 0 27px 0 27px;
}

.filter-new-container {
  height: 95%;
  width: 50%;
  box-sizing: border-box;
}

.new-text {
  font-size: 40px;
  color: $main-text-color;
}

.new-tools {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 20px;
  -webkit-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  -moz-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
}

.filter-tools {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background: #f1f1f1;
  -webkit-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  -moz-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
}

mat-stepper {
  background: #f1f1f1;
  height: 270px;
}

.payments-container {
  height: 95%;
  width: 50%;
  background: #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  -moz-box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
  box-shadow: 0 7px 15px -7px rgba(0,0,0,0.59);
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
}

button {
  margin-top: 10px;
}

form {
  padding: 10px;
}

.text-form-field {
  width: 250px;
}

.sum-suffix {
  margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

mat-tab-groud {
  border-radius: 5px !important;
}

mat-tab {
  border-radius: 5px !important;
}

.search-field {
  width: 300px;
}

.search-preffix {
  margin-left: 20px;
  margin-right: 20px;
}
