<div class="overall-page">
  <div class="filter-new-container">
    <div class="new-tools" fxLayoutAlign="none center" fxLayout="column">
      <div class="new-text">
        <span class="text">
          <i class="fa-solid fa-plus"></i>
          Новий
        </span>
      </div>

      <mat-stepper [linear]="true" [orientation]="(stepperOrientation | async)!" color="warn" #stepper>
        <mat-step [completed]="transactionField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>Виберіть тип</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>Тип</mat-label>
              <mat-select formControlName="transactionType" (selectionChange)="onTransactionChanged($event.value)">
                @for (transactionType of transactionTypes; track transactionType) {
                  <mat-option [value]="transactionType.value">{{ transactionType.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="stepper-button">
              <button mat-raised-button matStepperNext>Далі</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="nameField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>Введіть назву</ng-template>
            <mat-form-field class="search-field" color="warn" appearance="outline">
              <mat-label>Назва</mat-label>
              <input matInput type="text" placeholder="Назва" formControlName="name" required />
              @if (nameField.value) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="nameField.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>Далі</button>
              <button class="stepper-button" mat-button matStepperPrevious>Назад</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="categoryField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>Виберіть категорію</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>Категорія</mat-label>
              <mat-select formControlName="category">
                @for (category of selectedCategories|async; track category) {
                  <mat-option [value]="$index">{{ category.title }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>Далі</button>
              <button class="stepper-button" mat-button matStepperPrevious>Назад</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="amountField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>Введіть суму</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>Сума</mat-label>
              <input matInput formControlName="amount" type="number" maxlength="10" placeholder="Сума" required />
              <span matSuffix class="sum-suffix">
                <i class="fa-solid fa-hryvnia-sign"></i>
              </span>
            </mat-form-field>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>Далі</button>
              <button class="stepper-button" mat-button matStepperPrevious>Назад</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="dateField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>Виберіть дату</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>Дата</mat-label>
              <input matInput formControlName="date" [matDatepicker]="picker" required />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div fxLayoutAlign="none center" fxLayoutGap="10px">
              <button
                class="stepper-button"
                mat-raised-button
                type="submit"
                [disabled]="!dateField.valid"
                (click)="onSubmit()"
                color="warn">
                Додати
              </button>
              <button class="stepper-button" mat-button matStepperPrevious>Назад</button>
              <button class="stepper-button" mat-button (click)="formGroup.reset(); stepper.reset()">Спочатку</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <div class="filter-tools" fxLayout="column">
      <div class="new-text">
        <span class="text">
          <i class="fa-solid fa-filter"></i>
          Фільтри
        </span>
      </div>
      <form class="filter-form" fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="3.5vh">
        <div class="filter-search-category" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="search-field" color="warn" appearance="outline">
            <mat-label>Пошук</mat-label>
            <span matPrefix class="search-preffix">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" matInput placeholder="Почніть вводити назву.." [formControl]="searchField" />
            @if (searchField.value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="searchField.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field class="filter-select , text-form-field" color="warn" appearance="outline">
            <mat-label>Категорія</mat-label>
            <mat-select multiple>
              @for (category of categoriesService.allCategories$ | async; track category) {
                <mat-option [value]="$index">{{ category.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-date-type" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>Від</mat-label>
            <input matInput [matDatepicker]="frompicker" />
            <mat-datepicker-toggle matIconSuffix [for]="frompicker"></mat-datepicker-toggle>
            <mat-datepicker #frompicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>До</mat-label>
            <input matInput [matDatepicker]="topicker" />
            <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
            <mat-datepicker #topicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="filter-select , text-form-field" color="warn" appearance="outline">
            <mat-label>Тип</mat-label>
            <mat-select multiple>
              @for (transactionType of transactionTypes; track transactionType) {
                <mat-option [value]="transactionType.value">{{ transactionType.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-price-buttons" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>Від</mat-label>
            <input matInput type="number" maxlength="10" placeholder="Сума" />
            <span matSuffix class="sum-suffix">
              <i class="fa-solid fa-hryvnia-sign"></i>
            </span>
          </mat-form-field>
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>До</mat-label>
            <input matInput type="number" maxlength="10" placeholder="Сума" />
            <span matSuffix class="sum-suffix">
              <i class="fa-solid fa-hryvnia-sign"></i>
            </span>
          </mat-form-field>
          <button mat-raised-button class="clear-filter-button">Очистити</button>
          <button mat-raised-button class="apply-filter-button" color="warn">Застосувати</button>
        </div>
      </form>
    </div>
  </div>

  <div class="payments-container">
    <div class="new-text">
      <span class="text">
        <i class="fa-solid fa-clock-rotate-left"></i>
        Історія
      </span>
    </div>
    <mat-tab-group color="warn">
      <mat-tab label="Усі">
        <div class="scroll-container"></div>
      </mat-tab>
      <mat-tab label="Прибутки">
        <div class="scroll-container"></div>
      </mat-tab>
      <mat-tab label="Витрати">
        <div class="scroll-container"></div>
      </mat-tab>
      <mat-tab label="Регулярні">
        <div class="scroll-container"></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
