<div class="overall-page">
  <div class="filter-new-container">
    <div class="new-tools" fxLayoutAlign="none center" fxLayout="column">
      <div class="new-text">
        <span class="text">
          <i class="fa-solid fa-plus"></i>
          {{ 'PAYMENTS.NEW' | translate }}
        </span>
      </div>

      <mat-stepper [linear]="true" [orientation]="(stepperOrientation | async)!" color="warn" #stepper>
        <mat-step [completed]="transactionField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{ 'PAYMENTS.TYPE' | translate }}</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>{{ 'PAYMENTS.TYPE' | translate }}</mat-label>
              <mat-select formControlName="transactionType" (selectionChange)="onTransactionChanged($event.value)">
                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType.value">
                  {{ transactionType.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="stepper-button">
              <button mat-raised-button matStepperNext>{{ 'PAYMENTS.NEXT' | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="nameField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{ 'PAYMENTS.DESCRIPTION' | translate }}</ng-template>
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field color="warn" appearance="outline">
                <mat-label>{{ 'PAYMENTS.NAME' | translate }}</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="{{ 'PAYMENTS.NAME' | translate }}"
                  formControlName="name"
                  required />
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  *ngIf="nameField.value"
                  (click)="nameField.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field
                *ngIf="
                  transactionField.value === transactionTypes[2].value ||
                  transactionField.value === transactionTypes[3].value
                "
                class="search-field"
                color="warn"
                appearance="outline">
                <mat-label>{{ 'PAYMENTS.DESCRIPTION' | translate }}</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="{{ 'PAYMENTS.NAME' | translate }}"
                  formControlName="descriptionRegular"
                  required />
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  *ngIf="descriptionField.value"
                  (click)="descriptionField.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>{{ 'PAYMENTS.NEXT' | translate }}</button>
              <button class="stepper-button" mat-button matStepperPrevious>{{ 'PAYMENTS.BACK' | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="categoryField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{ 'PAYMENTS.CATEGORY' | translate }}</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>{{ 'PAYMENTS.CATEGORY' | translate }}</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let category of selectedCategories | async" [value]="category.title">
                  {{ category.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>{{ 'PAYMENTS.NEXT' | translate }}</button>
              <button class="stepper-button" mat-button matStepperPrevious>{{ 'PAYMENTS.BACK' | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="amountField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{ 'PAYMENTS.AMOUNT' | translate }}</ng-template>
            <mat-form-field class="text-form-field" color="warn" appearance="outline">
              <mat-label>{{ 'PAYMENTS.AMOUNT' | translate }}</mat-label>
              <input
                matInput
                formControlName="amount"
                type="number"
                maxlength="10"
                placeholder="{{ 'PAYMENTS.AMOUNT' | translate }}"
                required />
              <span matSuffix class="sum-suffix">
                <i class="fa-solid fa-hryvnia-sign"></i>
              </span>
            </mat-form-field>
            <div fxLayoutGap="10px">
              <button class="stepper-button" mat-raised-button matStepperNext>{{ 'PAYMENTS.NEXT' | translate }}</button>
              <button class="stepper-button" mat-button matStepperPrevious>{{ 'PAYMENTS.BACK' | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="dateField.valid">
          <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{ 'PAYMENTS.DATE' | translate }}</ng-template>
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field class="text-form-field" color="warn" appearance="outline">
                <mat-label>{{ 'PAYMENTS.DATE' | translate }}</mat-label>
                <input matInput formControlName="date" [matDatepicker]="picker" required />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              @if (
                this.transactionField.value === transactionTypes[2].value ||
                this.transactionField.value === transactionTypes[3].value
              ) {
                <mat-form-field class="text-form-field" color="warn" appearance="outline">
                  <mat-label>{{ 'PAYMENTS.PERIODICITY' | translate }}</mat-label>
                  <input
                    matInput
                    formControlName="periodicity"
                    type="number"
                    maxlength="10"
                    placeholder="Сума"
                    required />
                </mat-form-field>
              }
            </div>
            <div fxLayoutAlign="none center" fxLayoutGap="10px">
              <button
                class="stepper-button"
                mat-raised-button
                type="submit"
                [disabled]="!dateField.valid"
                (click)="onSubmit()"
                color="warn">
                {{ 'PAYMENTS.ADD' | translate }}
              </button>
              <button class="stepper-button" mat-button matStepperPrevious>{{ 'PAYMENTS.BACK' | translate }}</button>
              <button class="stepper-button" mat-button (click)="formGroup.reset(); stepper.reset()">
                {{ 'PAYMENTS.RESET' | translate }}
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <div class="filter-tools" fxLayout="column">
      <div class="new-text">
        <span class="text">
          <i class="fa-solid fa-filter"></i>
          {{ 'PAYMENTS.FILTERS' | translate }}
        </span>
      </div>
      <form
        [formGroup]="filterGroup"
        class="filter-form"
        fxLayout="column"
        fxLayoutAlign="center none"
        fxLayoutGap="3.5vh">
        <div class="filter-search-category" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="search-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.SEARCH' | translate }}</mat-label>
            <span matPrefix class="search-preffix">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" matInput placeholder="Введіть назву" formControlName="searchDescription" />
            @if (searchField.value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="searchField.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field class="filter-select , text-form-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.CATEGORY' | translate }}</mat-label>
            <mat-select multiple>
              @for (category of categoriesService.allCategories$ | async; track category) {
                <mat-option [value]="$index">{{ category.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-date-type" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.FROM' | translate }}</mat-label>
            <input matInput [matDatepicker]="frompicker" />
            <mat-datepicker-toggle matIconSuffix [for]="frompicker"></mat-datepicker-toggle>
            <mat-datepicker #frompicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.TO' | translate }}</mat-label>
            <input matInput [matDatepicker]="topicker" />
            <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
            <mat-datepicker #topicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="filter-price-buttons" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.FROM' | translate }}</mat-label>
            <input matInput type="number" maxlength="10" placeholder="Сума" />
            <span matSuffix class="sum-suffix">
              <i class="fa-solid fa-hryvnia-sign"></i>
            </span>
          </mat-form-field>
          <mat-form-field class="text-form-field" color="warn" appearance="outline">
            <mat-label>{{ 'PAYMENTS.TO' | translate }}</mat-label>
            <input matInput type="number" maxlength="10" placeholder="Сума" />
            <span matSuffix class="sum-suffix">
              <i class="fa-solid fa-hryvnia-sign"></i>
            </span>
          </mat-form-field>
          <button mat-raised-button class="clear-filter-button">{{ 'PAYMENTS.CLEAR' | translate }}</button>
          <button mat-raised-button class="apply-filter-button" color="warn" type="submit" (click)="onSubmitFilter()">
            {{ 'PAYMENTS.APPLY' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="payments-container">
    <div class="new-text">
      <span class="text">
        <i class="fa-solid fa-clock-rotate-left"></i>
        {{ 'PAYMENTS.HISTORY' | translate }}
      </span>
    </div>
    <mat-tab-group color="warn">
      <mat-tab label="{{ 'PAYMENTS.EXPENSES' | translate }}">
        <mat-paginator
          fxLayoutAlign="none center"
          [length]="this.paymentService.totalExpenses$ | async"
          [pageSize]="10"
          (page)="onPageChange($event, 'expense')"></mat-paginator>
        <table mat-table [dataSource]="this.paymentService.allExpenses$ | async">
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.CATEGORY' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="cell-category" [style.background-color]="getColorByTitle(element.category.title)">
                {{ element.category.title }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="cell-description">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ getDateByISO(element.expensesDate) }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.SUM_UAH' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-tab>
      <mat-tab label="{{ 'PAYMENTS.INCOMES' | translate }}">
        <mat-paginator
          fxLayoutAlign="none center"
          [length]="this.paymentService.totalIncomes$ | async"
          [pageSize]="10"
          (page)="onPageChange($event, 'income')"></mat-paginator>
        <table mat-table [dataSource]="this.paymentService.allIncomes$ | async">
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.CATEGORY' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="cell-category" [style.background-color]="getColorByTitle(element.category.title)">
                {{ element.category.title }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="cell-description">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ getDateByISO(element.incomeDate) }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.SUM_UAH' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.profit }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-tab>
      <mat-tab label="{{ 'PAYMENTS.EXPENSES_REGULAR' | translate }}">
        <mat-paginator
          fxLayoutAlign="none center"
          [length]="this.paymentService.totalExpenseRegulars$ | async"
          [pageSize]="10"
          (page)="onPageChange($event, 'expense-regular')"></mat-paginator>
        <table mat-table [dataSource]="this.paymentService.allExpenseRegulars$ | async">
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.CATEGORY' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="cell-category" [style.background-color]="getColorByTitle(element.category.title)">
                {{ element.category.title }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DESCRIPTION' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="cell-description">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ getDateByISO(element.lastPaymentDate) }}</td>
          </ng-container>
          <ng-container matColumnDef="periodicity">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.PERIODICITY' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.periodicity }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.SUM_UAH' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsRegular"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsRegular"></tr>
        </table>
      </mat-tab>
      <mat-tab label="{{ 'PAYMENTS.INCOMES_REGULAR' | translate }}">
        <mat-paginator
          fxLayoutAlign="none center"
          [length]="this.paymentService.totalIncomeRegulars$ | async"
          [pageSize]="10"
          (page)="onPageChange($event, 'income-regular')"></mat-paginator>
        <table mat-table [dataSource]="this.paymentService.allIncomeRegulars$ | async">
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.CATEGORY' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="cell-category" [style.background-color]="getColorByTitle(element.category.title)">
                {{ element.category.title }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DESCRIPTION' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="cell-description">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ getDateByISO(element.lastPaymentDate) }}</td>
          </ng-container>
          <ng-container matColumnDef="periodicity">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.PERIODICITY' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.periodicity }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>{{ 'PAYMENTS.SUM_UAH' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.profit }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsRegular"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsRegular"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
