@use '@angular/material' as mat;

$cash-manager-frontend-primary: mat.define-palette(mat.$indigo-palette);
$cash-manager-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$cash-manager-frontend-warn: mat.define-palette(mat.$red-palette);

$cash-manager-frontend-theme: mat.define-light-theme((
  color: (
    primary: $cash-manager-frontend-primary,
    accent: $cash-manager-frontend-accent,
    warn: $cash-manager-frontend-warn,
  )
));

@include mat.all-component-themes($cash-manager-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Oufit, sans-serif;
}

