@import '../../../shared/styles/variables';

.overall-page {
  height: $page-height;
}

mat-card-header {
  background: #f1f1f1;
  border-radius: 20px 20px 0 0;
}

mat-card {
  border: 2px solid #e6e6e6;
  min-width: 420px;
  width: 20%;
  border-radius: 20px;
}

mat-card-content {
  padding: 40px;
}

button {
  border-radius: 20px;
  background: orange;
  width: 100%;
  font-size: 20px;
  box-shadow: rgba(0,0,0,10%) 0 4px 4px;
}

.text {
  font-size: 30px;
  text-align: center;
}


