<div class="main">
  <div fxLayout="column" fxLayoutAlign="center" class="container">
    <div class="container" fxFlexOffset="4" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex.lt-md="80" fxFlex="37">
        <mat-card class="card">
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30">
              <img class="confetti" ngSrc="assets/icons/confetti.png" alt="confetti" height="170" width="170" />
              <b style="font-size: 30px">Congratulations!</b>
              <p style="font-size: 23px">Your account was successfully activated!</p>
              <a mat-fab extended color="white" routerLink="/login"> Link </a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  @if (isVerified) {
    <p>Congratulations!</p>
  }
</div>
