.background {
  height: 100vh;
  width: 100vw;
  background: rgba(194,35,35,0.5);
  background: linear-gradient(90deg, rgba(194,35,35,0.1) 0%, rgba(219,125,37,0.1) 50%, rgba(255,230,0,0.093) 100%);
}
